.header {
  background-color: #14213d;
}
.header a {
  font-size: 18px;
  color: #ffffff !important;
}
.logo {
  width: 80px;
}
.header a:hover {
  color: #57cbcc !important;
}
/* Fin Zona del Header */

/*Modal */
.caja_correo {
  margin-bottom: 15px;
}
.btn1 {
  background-color: #3b5998 !important;
  color: white !important;
  text-decoration: none;
}

.btn2 {
  background-color: #fd7521 !important;
}
